<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles_main">
        <app-big-card
            photoCover="../../assets/images/hamas.jpg"
            cardTitle="Hamas inicia ofensiva contra Israel."
            cardDescription="O grupo militante Hamas lançou uma ofensiva contra Israel, intensificando as tensões na região e provocando preocupações sobre a escalada do conflito. Os ataques começaram e rapidamente se espalharam por várias áreas, resultando em uma troca de hostilidades entre as partes."
        ></app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
            photoCover="../../assets/images/biden.jpg"
            cardTitle="Biden anuncia apoio a Israel e envia porta aviões para região."
        ></app-small-card>
        <app-small-card
            photoCover="../../assets/images/lula.jpg"
            cardTitle="Lula repudia ataques ao Hamas e intermedia paz."
        ></app-small-card>
        <app-small-card
            photoCover="../../assets/images/russian_troops.jpg"
            cardTitle="Rússia envia reforços para barrar contra-ofensiva Ucraniana."
        ></app-small-card>
    </div>
</div>
